/* -------------------- GENERAL -------------------- */
/* header - footer */
.dark-color-theme {
    background: #1a521e;
}

/* header */
.letter-header ul li {
    color: #DFE0E0;
}
.letter-header ul li:hover {
    color: #FAFDFF;
  }
/* header active in the mobile */
.main-menu.active {
  right: 0;
}

/* footer */
/* icon */
.icon-red-social-footer {
  width: 8%;
  margin-right: 1rem;
}
/* titles */
.main-footer .t4,
.main-footer .t5,
.main-footer .t6 {
  color: white;
}
.main-footer {
  padding: 16px;
}
.link-footer a {
  color: white;
}

/* section main */
.main-master {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
/* titles of section main */
.main-master .t1,
.main-master .t2,
.main-master .t3,
.main-master .t4 {
  color: white;
}

/* color body */
.bg-body-theme {
  background: #141618;
}

/* -------------------- MASTER -------------------- */
/* banner */
.bg-banner-theme {
  background: #2A2C33;
  color: white;
}
.title-banner {
  color: white;
}
.title-banner::first-line {
  color: var(--fourth-color);
}

/* card carreras */
.card-ofert {
  box-shadow: 4px 4px 10px 1px rgba(100,100,100,.5);
  background: #282D31;
  border-radius: 4px;
}
.title-card {
  color: var(--fourth-color);
}

/* sections (valors & news) */
.section-master:nth-of-type(2) {
  margin-top: 2rem;
}
.section-master:nth-of-type(3) {
  margin-top: 2rem;
}

/* card valor */
/* main */
.cuadro-card-valors {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* second section of title and description */
.container-card-valors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
/* hover in the second section */
.container-card-valors:hover {
  transition: opacity .3s;
  background: rgba(40, 45, 49, .8);
  opacity: 1;
}
/* description valors */
.description-valors {
  color: white;
  font-weight: 800;
  padding: 0 1rem;
}

/* card news */
.card-news {
  box-shadow: 5px 5px 10px 1px rgba(100, 100, 100, 0.5);
  background: #282D31;
}
.title-news {
  color: white;
}


/* -------------------- INFORMAION -------------------- */
/* the two container */
.container-information-academia,
.container-iframe {
  background: #282D31;
  border-radius: 4px;
  padding: 1rem;
}
/* section of the iframe from the facebook */
.container-iframe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  /* in the desktop view */
  @media screen and (min-width: 1024px) {
  .container-main-infomration {
    grid-template-columns: 2fr 1fr !important;
  }
  .container-iframe {
    align-items: flex-end;
  }
}




/* -------------------- ACADEMIA -------------------- */


/* -------------------- CONCOCER -------------------- */
/* container de todo */
.container-mision-vision {
  background: #282D31;
  border-radius: 4px;
  padding: 1rem;
}
/* the works, to make the :: after look at a distance equal to the word vertically */
.vision,
.mision {
  display: flex;
}
/* general properties of the two words */
.vision::after,
.mision::after {
  content: "";
  position: absolute;
  display: block;
  left: 25%;
  height: 30px;
  width: 30px;
}
/* image of the after in the work mision */
.mision::after {
  background: url(./../images/objetivo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* image of the after in the work vision */
.vision::after {
  background: url(./../images//vision.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  /* distance of top and left */
  .mision::after,
  .vision::after {
    margin-top: .2%;
    left: 15%;
  }
}

/* -------------------- CONTACTO -------------------- */
/* se reciclo el mismo diseño de la pagina de informacion, se le añadio la clase .container-information-academia, para no hacer mas codigo */


/* -------------------- ERROR 404 -------------------- */
.image-error {
  margin-bottom: 2rem;
}